workflow-chatbot-telegram.json
{
  "name": "workflow-chatbot-telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "346e4e27-a666-4f25-8c55-9d11ae48ef80",
      "name": "Telegram Trigger",
      "webhookId": "0e007c2d-be21-4d7d-82bf-0792fa35bc27",
      "credentials": {
        "telegramApi": {
          "id": "pxjpLJi9FVkRypMU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a44aed7-74d2-4bb4-bf15-bf3b06fbe51c",
              "name": "queue",
              "value": "={{ $json.message.text\n  .trim()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase()\n  .replace(/\\s*,\\s*/g, ',')\n  + ',br'\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "1f03fbe1-6766-4572-833b-df5e61b42534",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "b93df453-fd3f-4547-93c3-c5781ce99527",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fd4c936-e653-4bdd-8ffc-330f25242092",
              "name": "response",
              "value": "={{ \n  '🌤️ A temperatura em ' + $json.name + ' é de ' + Math.round($json.main.temp) + '°C'\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -96
      ],
      "id": "d842fea0-9364-4d3d-99b5-11e27ee3d4c4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5799f12a-633e-46da-b65e-fe468a2c1968",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        0
      ],
      "id": "87c0a90b-68ee-4c44-a87c-1fe80354cece",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ceefdd5-f395-4a33-aa16-51b297a67767",
              "name": "response",
              "value": "⚠️ Cidade não encontrada. Use o formato Cidade,UF,BR (ex.: São Paulo,SP,BR). 🧐",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        80
      ],
      "id": "222c768c-c461-442e-ac72-9761b2e4b0a5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        0
      ],
      "id": "d2843c10-b74f-47e9-800f-424659a96f24",
      "name": "Send a text message",
      "webhookId": "ff0e952d-f91b-445b-a3c7-662485eb643c",
      "credentials": {
        "telegramApi": {
          "id": "pxjpLJi9FVkRypMU",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ea6c3b91-4447-4fe5-bd12-991e83853933",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fd34e44b8f06e0e6b5f6bff9ae2dadc7cf5f0d5183dbe14a6a9bfff04aafee8"
  },
  "id": "EKsf-xlN7QVlOyCMHrvBK",
  "tags": []
}